<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h3>TARJETA CREDITO</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body text-center">
                    <h5> {{ accion | uppercase }} TARJETA</h5>
                    <form [formGroup]="form">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"> 
                                <i class="fa-solid fa-user"
                                [class.green-icon]="this.form.get('Nombre')?.valid"
                                [class.red-icon]= "this.form.get('Nombre')?.invalid && this.form.get('Nombre')?.touched"
                                ></i>
                            </span>
                            <input formControlName="Nombre" type="text" class="form-control" placeholder="Nombre Propietario" aria-label="Nombre Propietario" aria-describedby="basic-addon1"
                            [class.green-border]="this.form.get('Nombre')?.valid"
                            [class.red-border]= "this.form.get('Nombre')?.invalid && this.form.get('Nombre')?.touched">
                          </div>

                          <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text"> 
                                <i class="fa-solid fa-credit-card"
                                [class.green-icon]="this.form.get('numeroTarjeta')?.valid"
                                [class.red-icon]= "this.form.get('numeroTarjeta')?.invalid && this.form.get('numeroTarjeta')?.touched"
                                ></i>
                            </span>
                            <input formControlName="numeroTarjeta" type="text" class="form-control" placeholder="Numero Tarjeta" aria-label="Numero Tarjeta" aria-describedby="basic-addon1"
                            [class.green-border]="this.form.get('numeroTarjeta')?.valid"
                            [class.red-border]= "this.form.get('numeroTarjeta')?.invalid && this.form.get('numeroTarjeta')?.touched">
                          </div>
                         
                          <div class="row">
                              <div class="col-lg-7">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text"> 
                                        <i class="fa-solid fa-calendar"
                                        [class.green-icon]="this.form.get('fechaExp')?.valid"
                                        [class.red-icon]= "this.form.get('fechaExp')?.invalid && this.form.get('fechaExp')?.touched"></i>
                                    </span>
                                    <input formControlName="fechaExp" type="month" class="form-control" placeholder="Fecha Vencimiento" aria-label="Fecha Vencimiento" aria-describedby="basic-addon1"
                                    [class.green-border]="this.form.get('fechaExp')?.valid"
                                    [class.red-border]= "this.form.get('fechaExp')?.invalid && this.form.get('fechaExp')?.touched">
                                  </div>                              
                              </div>
                              
                              <div class="col-lg-5">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text"> 
                                        <i class="fa-solid fa-lock"
                                        [class.green-icon]="this.form.get('cvv')?.valid"
                                        [class.red-icon]= "this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched"></i>
                                    </span>
                                    <input formControlName="cvv" type="text" class="form-control" placeholder="CVV" aria-label="CVV" aria-describedby="basic-addon1" maxlength="3"
                                    [class.green-border]="this.form.get('cvv')?.valid"
                                    [class.red-border]= "this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched">
                                  </div>
                              </div>
                          </div>

                          <div class="d-grid gap-2">
                          <button type="button" class="btn btn-success" (click)="SendData()" [disabled]="this.form.invalid"> <i class="fa-solid fa-check" ></i> Success</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    
        <!-- ESTO DEBE IR EN OTRO COMPONENTE Y COMUNICARLO -->
        <div class="col-md-6">
            <div class="card">

                  <app-lista-tarjetas-credito></app-lista-tarjetas-credito>
                
            </div>
        </div> 
    </div>
</div>
